:root {
  --background-primary: #b7cadb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

.section-products {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container-products {
  width: 80%;
  max-width: 500px;
  display: grid;
  gap: 15px;
  background-color: var(--background-primary);
  padding: 20px;
}

.product {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.position {
  grid-column: 3/4;
}

.position-price {
  grid-column: 4/5;
}

.container-products-title {
  text-align: center;
}

.container-products-btn {
  width: 200px;
  height: 30px;
  justify-self: center;
}
